        <footer class="footer">
          <div class="container">
            <p class="text-muted float-right">&copy; SoulTrain 2018 | <a href="/">Home</a></p>
          </div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </body>
</html>