<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <title>SoulTrain</title>
    </head>
    <body>
        <a href='/'><img src='/images/logo-small.png'></a>
        
        <div class='social'>
          <a href='https://www.facebook.com/Soul-Train-America-Latina-294421613936839/?ref=br_rs'><i class="fab fa-facebook-square fa-lg"></i></a>
        </div>
        
        <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #004C86";>
           
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto">
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quienes Somos</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href='/historia'>Historia</a>
                    <div class="dropdown-divider"></div>
                <a class="dropdown-item" href='/staff'>Staff</a>
                    <div class="dropdown-divider"></div>
                <a class="dropdown-item" href='/comunidades_amigas'>Comunidades Amigas</a>
              </div>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href='/programas'>Programas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='/blog_comunitario'>Blog Communitario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='/contactenos'>Contactenos</a>
            </li><li class="nav-item">
              <a class="nav-link" href='/done_aqui'>Done Aqui</a>
            <!--</li><li class="nav-item">-->
            <!--  <a class="nav-link" href='/cakes/new'>Facebook</a>-->
            <!--</li>-->
          </ul>
        
        
          <!--<ul class='nav navbar-nav navbar-right'>-->
          <!--      <li class='nav-item'><a class='nav-link' href='/login'>Login</a></li>-->
          <!--      <li class='nav-item'><a class='nav-link' href='/register'>Sign Up</a></li>-->
          <!--      <li class='nav-item'><a class='nav-link' href='/logout'>Logout</a></li>-->
          <!--</ul>-->
        </div>
            
    </nav><!-- navbar -->
        

