<% include ./partials/header %>

<div class='container'>
    
    <h3 class='title-format'>COMUNIDADES AMIGAS SOUL TRAIN EN EL MUNDO</h3>
        
        <div class='row'>
            
            <div class='col-sm'>
                <h4>Estados Unidos</h4>
                <ul>
                    <li>Missoula</li>
                    <li>Bozeman </li>
                    <li>Helena </li>
                    <li>Billings </li>
                    <li>Great Falls – Montana</li>
                    <li>Pocatello – Idaho</li>
                    <li>Laramie – Wyoming</li>
                    <li>Springfield </li>
                    <li>Peoria</li>
                    <li>Rockford</li>
                    <li>Decatur – Illinois</li>
                    <li>Lincoln – Nebraska</li>
                    <li>Morgantown</li>
                    <li>Wheeling</li>
                    <li>Huntington – West Virginia</li>
                    <li>Benton Harbor</li>
                    <li>Kalamazoo</li>
                    <li>Petoskey – Michigan</li>
                    <li>Fort Wayne – Indiana</li>
                    <li>Iticha – New York</li>
                </ul>
            </div>
            
            
            <div class='col-sm'>
                <h4>Europa</h4>
                <ul>
                    <li>Belgrade</li>
                    <li>Novisad</li>
                    <li>Subotica – Serbia</li>
                    <li>Osijek</li>
                    <li>Zagreb</li>
                    <li>Split</li>
                    <li>Rijeka – Croatia</li>
                    <li>Bulgaria</li>
                    <li>Slovakia</li>
                </ul>
                
                <h4>España Próximamente</h4>
                <ul>
                    <li>Barcelona</li>
                    <li>Valencia</li>
                    <li>Torremolinos</li>
                    <li>Marbella</li>
                    <li>Málaga</li>
                    <li>Palmas de Mayorca- Islas aleares</li>
                </ul>
            </div>
            
            <div class='col-sm'>
                <h4>America Latina</h4>
                <ul>
                <h6>Argentina</h6>
                    <ul>
                        <li>Corrientes</li>
                        <li>Chaco </li>
                        <li>Paraná </li>
                        <li>Santa Fe </li>
                        <li>Rosario</li>
                    </ul>
                <h6>Colombia</h6>
                <ul>
                    <li>Medellín</li>
                    <li>Cali</li>
                    <li>Barranquilla</li>
                </ul>
                
                <h6>Bolivia</h6>
                <ul>
                    <li>Santa Cruz de la Sierra</li>
                    <li>La Paz</li>
                    <li>Cochabamba</li>
                </ul>
                <li>Guatemala</li>
                <li>La Habana, Cuba</li>
                <li>El Salvador</li>
                <li>San Jose, Puerto Rico</li>
                <li>Honduras</li>
                <li>Cancún, México. </li>
                <li>Quito, Ecuador</li>
                <li>Monterrey, México</li>
                <li>Asunción, Paraguay</li>
                <li>Montevideo, Uruguay</li>
                </ul>
            </div>            
            
    </div><!--row-->
</div>




<% include ./partials/footer %>