<% include ./partials/header %>

<div class='container title-format form-format'>
    
    <h5>Soul Train necesita su aporte para seguir brindando sus programas de fortalecimiento comunitario de forma gratuita.</h5>
    
    <h5>Haga click AQUI y done.</h5>
    
    <button class='btn btn-primary'>DONE AQUI</button>

</div>

<% include ./partials/footer %>