<% include ./partials/header %>

<div class='container'>
    <h1>Soul Train</h1>
    <h3>Fundado por la Yeshiva Bnei Akiva de Kfar HaRoe</h3>
    <br>
    <h5>Nuestra Historia:</h5>
    <p>Desde el nacimiento del  Estado Israel, sus lazos se han unido a las comunidades  judías en diáspora a través Shlijim, que traían desde Eretz Israel una  atmósfera especial, conocimientos únicos y el sabor a Israel con ellos. Inmediatamente, las comunidades de la diáspora buscaban los shlijim para su enriquecimiento y continuidad. 
    <br><br><strong>Soul Train</strong> fue establecido en 1999 para responder a las necesidades de las pequeñas comunidades judías en la diáspora. Las necesidades espirituales de estas comunidades son tan grandes como las de  comunidades grandes.  Resulta interesante ver, en la mayor parte de los países, las comunidades grandes no están  vinculadas lo suficiente u ofrecen su ayuda a las pequeñas comunidades en ciudades chicas o ubicadas a pocos kilómetros geográficamente,  entonces estas pequeñas kehilot tienen que generar solos sus recursos humanos y medios económicos para la continuidad judía local. 
    <br><br><strong>Soul Train</strong> se une a estas pequeñas comunidades y les ofrece programas de enriquecimiento judaico constante. Todos los programas vienen desde Israel llevando lo mejor de Israel a nuestros hermanos de comunidades pequeñas en la diáspora. 
    <br><br>Comenzamos en el Norte Pacífico al Oeste de los EE.UU. en 5 pequeñas comunidades, extendiéndonos  a Europa y más tarde al continente africano. Hemos nacido de 5 comunidades a más de 70 mundiales y seguimos añadiendo nuevas comunidades por la difusión de nuestros programas de comunidad a comunidad. Ha sido maravilloso ver el gran interés a las comunidades pequeñas y sobre todo su búsqueda de nuestros programas para la continuidad de su vida judía.
        <ul>   
            <li>Soul Train seguirá uniéndose a las pequeñas comunidades judías en el mundo. </li>
            <li>Soul Train volverá a encender la llama en las comunidades donde somos la única conexión exclusiva judía e israelí. </li>
            <li>Soul Train trae nuevas ideas y programas y lo más importante – Shlijim inéditos sumamente interesantes que las comunidades pequeñas no tendrían acceso de otra forma.</li>
            <li>Soul Train trae al Pueblo judío  más cerca a su herencia y a su identidad judía. </li>
            <li>Soul Train pone Israel en los corazones de las personas que nunca han estado interesadas o no han oído sobre las oportunidades que ofrece Israel. </li>
            <li>Soul Train trae el Judaísmo e Israel a las esquinas más lejanas del mundo, a cada judío. </li>
            <li>Soul Train lo invita a redescubrir su alma judía e Israel. </li>
        </ul>
    </p>
</div>



<% include ./partials/footer %>