<% include ./partials/header %>

<div class='container'>
    
    
    
    <h2 class='title-format'>Soul Train ofrece a todas las comunidades hispano parlantes en el mundo</h2>
    
    <ol>
        <br><li><strong>Envío de Shlijim</strong> Enviados de Soul Train salen tiempos cortos a las distintas comunidades en la diáspora por 1 o 2 dias y desarollan durante su estadia diversos programas de interes: Conferencias para todo publico, capacitaciones, etc.</li>
        <br><li><strong>Shabbatonim</strong> Enviados de Soul Train llegan a la comunidad a fin vivenciar Shabat, sus tefilot, seudot e interesantes cursos.</li>
        <br><li><strong>Campamentos de verano</strong> Parte del equipo Soul Train viaja a la comunidad a fin  conducir campos de verano. Por lo general, estas actividades se desarrollan por el período de una semana a un mes, dependiendo  la demanda de la comunidad. El equipo conduce actividades para toda la familia: niños, adolescentes, universitarios y adultos.</li>
        <br><li><strong>Programas de festividades</strong> El Equipo Soul Train también envía shlijim para las festividades, asegurandose una vivencia plena de la festividad en el marco de la comunidad.</li>
        <br><li><strong>Seminarios intensivos en Israel</strong>  Los Seminarios Soul Train son de especial ayuda a las pequeñas comunidades, ya que brinda a los participantes los instrumentos necesarios para conducir actividades en sus propias comunidades de origen, lo que les permite adquirir mayor independencia en su labor y contar con las herramientas para un crecimiento constante, durante todo el ciclo. Próximo Enero 2015.</li>
        <br><li><strong>Seminarios para la juventud latinoamericana</strong> A pedido de los propios miembros de las comunidades, estamos organizando dos seminarios anuales para los jovenes de las comunidades latinas, a fin de otorgarles un marco de intercambio y fortalecimiento de su identidad judia.</li>
        <br><li><strong>Taglit</strong> Soul Train lleva jovenes judios de todo el mundo en su propio Taglit, brindandole a todos los jovenes demanera gratuita la posibilidad de conocer Israel y conectarse con nuestra tradicion.</li>
        <br><li><strong>Capacitaciones on Line</strong> Soul Train cuenta con capacitaciones on line para morim y madrijim en Jutz LaAretz que se encuentran deShlijut, brindandoles asi el soporte educativo que necesitan para el desarrollo de su vija judaica en la Diaspora.</li>
        <br><li><strong>Clase on line para todo publico</strong> Entendemos que las pequenias comunidades cuentas con escaces de educadores. Por este motivo Soul Train pone on line a prestgiosos educadores desde Israel, on line para estudiar con Usted como si estarian a pocos metros.</li>
    </ol>
    
    <h6>Vale aclarar que Soul Train brinda todos sus programas de manera gratuita a las comunidades, siendo nuestro unico objetivo el fortalecimiento de la identidad judia en la diaspora.</h6>

</div>


<% include ./partials/footer %>