<% include ./partials/header %>

<div class='container'>
    
    
    
    <h3 class='title-format'>Soul Train ofrece a todas las comunidades hispano parlantes en el mundo</h3>
    
    
    <div class='row'>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/shiur.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Envío de Shlijim</h5>
                <p class="card-text">Enviados de Soul Train salen tiempos cortos a las distintas comunidades en la diáspora por 1 o 2 dias y desarollan durante su estadia diversos programas de interes: Conferencias para todo publico, capacitaciones, etc.</p>
              </div>
             </div>
        </div>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/shabbat.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Shabbatonim</h5>
                <p class="card-text">Enviados de Soul Train llegan a la comunidad a fin de vivenciar Shabat, sus tefilot, seudot e interesantes cursos.</p>
              </div>
             </div>
        </div>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/kotel-resized.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Campamentos de verano</h5>
                <p class="card-text">Parte del equipo Soul Train viaja a la comunidad a fin  conducir campos de verano. Por lo general, estas actividades se desarrollan por el período de una semana a un mes, dependiendo  la demanda de la comunidad. El equipo conduce actividades para toda la familia: niños, adolescentes, universitarios y adultos.</p>
              </div>
             </div>
        </div>
    </div>
    
    
     <div class='row'>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/dinner.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Programas de festividades</h5>
                <p class="card-text">El Equipo Soul Train también envía shlijim para las festividades, asegurandose una vivencia plena de la festividad en el marco de la comunidad.</p>
              </div>
             </div>
        </div>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/flag.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Seminarios intensivos en Israel</h5>
                <p class="card-text">Los Seminarios Soul Train son de especial ayuda a las pequeñas comunidades, ya que brinda a los participantes los instrumentos necesarios para conducir actividades en sus propias comunidades de origen, lo que les permite adquirir mayor independencia en su labor y contar con las herramientas para un crecimiento constante, durante todo el ciclo.</p>
              </div>
             </div>
        </div>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/bolivia.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Seminarios para la juventud latinoamericana</h5>
                <p class="card-text">A pedido de los propios miembros de las comunidades, estamos organizando dos seminarios anuales para los jovenes de las comunidades latinas, a fin de otorgarles un marco de intercambio y fortalecimiento de su identidad judia.</p>
              </div>
             </div>
        </div>
    </div>
    
    
    
     <div class='row'>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/kotel-resized.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Taglit</h5>
                <p class="card-text">Soul Train lleva jovenes judios de todo el mundo en su propio Taglit, brindandole a todos los jovenes demanera gratuita la posibilidad de conocer Israel y conectarse con nuestra tradicion.</p>
              </div>
             </div>
        </div>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/computer.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Capacitaciones on-line</h5>
                <p class="card-text">Soul Train cuenta con capacitaciones on-line para morim y madrijim en Jutz LaAretz que se encuentran deShlijut, brindandoles asi el soporte educativo que necesitan para el desarrollo de su vija judaica en la Diaspora.</p>
              </div>
             </div>
        </div>
        <div class='col-sm'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/computer.jpeg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Clase on-line para todo publico</h5>
                <p class="card-text"> Entendemos que las pequenias comunidades cuentas con escaces de educadores. Por este motivo Soul Train pone on line a prestgiosos educadores desde Israel, on line para estudiar con Usted como si estarian a pocos metros.</p>
              </div>
             </div>
        </div>
    </div>
    
    
    
    
    
    
    
    
    <!--<div class="card" style="width: 18rem;">-->
      <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
    <!--  <div class="card-body">-->
    <!--    <h5 class="card-title">Envío de Shlijim</h5>-->
    <!--    <p class="card-text">Enviados de Soul Train salen tiempos cortos a las distintas comunidades en la diáspora por 1 o 2 dias y desarollan durante su estadia diversos programas de interes: Conferencias para todo publico, capacitaciones, etc.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--  </div>-->
    <!--</div>-->
    
    <!--<ol>-->
    <!--    <br><li><strong>Envío de Shlijim</strong> Enviados de Soul Train salen tiempos cortos a las distintas comunidades en la diáspora por 1 o 2 dias y desarollan durante su estadia diversos programas de interes: Conferencias para todo publico, capacitaciones, etc.</li>-->
    <!--    <br><li><strong>Shabbatonim</strong> Enviados de Soul Train llegan a la comunidad a fin vivenciar Shabat, sus tefilot, seudot e interesantes cursos.</li>-->
    <!--    <br><li><strong>Campamentos de verano</strong> Parte del equipo Soul Train viaja a la comunidad a fin  conducir campos de verano. Por lo general, estas actividades se desarrollan por el período de una semana a un mes, dependiendo  la demanda de la comunidad. El equipo conduce actividades para toda la familia: niños, adolescentes, universitarios y adultos.</li>-->
    <!--    <br><li><strong>Programas de festividades</strong> El Equipo Soul Train también envía shlijim para las festividades, asegurandose una vivencia plena de la festividad en el marco de la comunidad.</li>-->
    <!--    <br><li><strong>Seminarios intensivos en Israel</strong>  Los Seminarios Soul Train son de especial ayuda a las pequeñas comunidades, ya que brinda a los participantes los instrumentos necesarios para conducir actividades en sus propias comunidades de origen, lo que les permite adquirir mayor independencia en su labor y contar con las herramientas para un crecimiento constante, durante todo el ciclo.</li>-->
    <!--    <br><li><strong>Seminarios para la juventud latinoamericana</strong> A pedido de los propios miembros de las comunidades, estamos organizando dos seminarios anuales para los jovenes de las comunidades latinas, a fin de otorgarles un marco de intercambio y fortalecimiento de su identidad judia.</li>-->
    <!--    <br><li><strong>Taglit</strong> Soul Train lleva jovenes judios de todo el mundo en su propio Taglit, brindandole a todos los jovenes demanera gratuita la posibilidad de conocer Israel y conectarse con nuestra tradicion.</li>-->
    <!--    <br><li><strong>Capacitaciones on Line</strong> Soul Train cuenta con capacitaciones on line para morim y madrijim en Jutz LaAretz que se encuentran deShlijut, brindandoles asi el soporte educativo que necesitan para el desarrollo de su vija judaica en la Diaspora.</li>-->
    <!--    <br><li><strong>Clase on line para todo publico</strong> Entendemos que las pequenias comunidades cuentas con escaces de educadores. Por este motivo Soul Train pone on line a prestgiosos educadores desde Israel, on line para estudiar con Usted como si estarian a pocos metros.</li>-->
    <!--</ol>-->
    
    <!--<h6>Vale aclarar que Soul Train brinda todos sus programas de manera gratuita a las comunidades, siendo nuestro unico objetivo el fortalecimiento de la identidad judia en la diaspora.</h6>-->

</div>


<% include ./partials/footer %>