<% include ./partials/header %>

<div class='container'>
<h3>Motti Isaak</h3>
<h5>Founder and Executive Director of the Soul Train program</h5>
<p>
Motti was born in Denmark and made Aliyah to Israel in 1968.
 He comes from a very Zionist family with roots in Germany.
 
He served in the IDF and was a Major of the reserve.
 
He married Chaviva (who was born in Israel) in 1977. They have 6 children, 5 married and one is an officer in the IDF. They have grandchildren.
 
For 45 years Motti has been deeply involved in Jewish education and in the rebuilding of the Land of Israel.
Motti is the founder and the executive director of the Soul Train program.</p>

<a href="mailto:Isaak1@zahav.net.il">Isaak1@zahav.net.il</a>
<p>972-52-3571369</p>
</div>

<hr>

<div class='container'>
<h3>Lic. Carolina Dabah</h3>
<h5>Coordinadora Soul Train América Latina y España</h5>

<p>Se graduó de Licenciada en Ciencias de la Educación en la Facultad de Filosofía y Letras de la Universidad de Buenos Aires. 

Desde muy joven, ideo y dirigió diversos programas educativos para la difusión del judaísmo  de la organización Menora en Buenos Aires donde trabajo 10 años.  Paralelamente,  se desempeñó como docente  en varias escuelas secundarias, y dicto clases para mujeres de toda edad. 

En el 2008 hizo alía, y al principio se desempeñó como docente en distintos espacios educativos. Entrena mujeres para el trabajo comunitario en la diáspora en Ner LeElef. 

 En el 2009 tomo la coordinación general de Soul Train América Latina, ayudando a pequeñas comunidades con programas y propuestas para el fortalecimiento de su identidad judía y su vinculo con Medinat Israel, maanejando en simultaneo 20 comunidades en el continente y dictando clases, donde integra su formación académica con su profunda formación como educadora judía observante.
 </p>
 
<a href="mailto:rutiacohenet@hotmail.com">rutiacohenet@hotmail.com</a>
<p>972-52-7121-599</p>
</div>



<hr>

<div class='container'>
<h3>Avraham Grunwald</h3> <h5>Coordinador Soul Train para Europa</h5>
</div>






<% include ./partials/footer %>